.container{
    margin: auto;
}
.container-fluid{
    margin: auto;
}
.row{
padding: 0%; 
}
.col{
    padding: 0%;
}

.btn{
    border-radius: 1rem;
}
.rounded{
    width: 100%;
    height: 80%;
}
.img-thumbnail{
    width: 60%;
    height: 80%;
}
/** Source mixin */
/**
@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}*/

/** Usage */

/**
.custom-container {
  @include make-container();
}
*/